.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.grid-line {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}

.grid-line-vertical {
  width: 1px;
  height: 100vh;
  top: 0;
}

.grid-line-horizontal {
  height: 1px;
  width: 100vw;
  left: 0;
}

